# Jekyll export files
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Binary files
*.xcf

# Python export files
__pycache__/

# Other
\.DS_Store
*.swp
*.un~
*.swo

# Private files
scripts/login.py

# A special directory for non-gitable things
ignored/
.vendor
.bundle
