@charset "utf-8"

/* SIZE DEFINITIONS */
$website-size: 800px            // width of content of the website
$website-padding: 25px          // left/right padding of website content
$header-padding: 10px           // top/bottom padding of header
$navigation-padding: 20px       // top/bottom padding of navbar
$navigation-item-spacing: 20px  // spacing between each of the navigation items
$code-padding: 6px              // padding for inline code, half padding for block code
$code-border-roundness: 10px    // roundness of the code border
$table-cell-spacing: 10px       // default cell spacing for tables

/* relative sizes of certain website elements */
$title-size: 350%
$post-date-size: 115%
$small-size: 90%

/* text formatting */
$line-spacing: 20px    // spacing after paragraph
$h1-spacing: 12px      // spacing after h1
$h2-spacing: 10px      // spacing after h2
$h3-spacing: 8px       // spacing after h3
$item-padding: 25px    // list and blockquote padding

/* COLOR DEFINITIONS */
$text-color: #000      // text colors
$quote-color: #606060
$link-color: #03d

$code-background-color: #f2f2f2 // background colors

/* FONT SETTINGS */
$serif-font: "Roboto"
$monospaced-font: "Roboto Mono"

@font-face
  font-family: $serif-font
  src: local($serif-font), url("/assets/css/fonts/Roboto-Light.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: $serif-font
  src: local($serif-font), url("/assets/css/fonts/Roboto-Regular.ttf") format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: $monospaced-font
  src: local($monospaced-font), url("/assets/css/fonts/RobotoMono-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

/* WEBSITE-WIDE SETTINGS */
*
  margin: 0
  padding: 0

// content (including navigation) formatting
.content
  max-width: $website-size
  margin: auto

  // side padding
  padding-left: $website-padding
  padding-right: $website-padding
  padding-bottom: $website-padding

// navigation bar formatting
.navigation
  padding: 0 $navigation-padding $navigation-padding $navigation-padding
  text-align: center

  // separator character + spacing
  .navigation-separator
    margin-left: $navigation-item-spacing / 2
    margin-right: $navigation-item-spacing / 2

    &:before
      content: "•"

// a simple, 2 column table without a header
.alignment-table
  td
    padding-right: $table-cell-spacing

  margin-bottom: $line-spacing

// wiki-like table class
.wiki-table
  float: right

  // cell spacing
  padding: $table-cell-spacing / 2
  margin: $table-cell-spacing / 2

  // italics for the first column
  tr
    td:first-of-type
      font-style: italic

  // image formatting
  td
    vertical-align: bottom

  img
    max-width: $website-size * 0.2

  figcaption
    text-align: center

  // centering for smaller screens
  @media (max-width: 500px)
    float: none
    margin-left: auto
    margin-right: auto
    margin-bottom: $line-spacing

// 404 formatting
.not-found
  p, h1
    text-align: center

// highlight the currently selected page
.current-page-item
  font-weight: bold

// header formatting
.header
  h1
    padding: $header-padding $website-padding 0 $website-padding
    text-align: center
    display: block
    font-size: $title-size
    font-family: $serif-font, sans-serif

// post header formatting
.post-header
  h2
    padding-bottom: 0

  p
    font-size: $post-date-size
    font-style: italic

.highlighter-rouge
  pre
    overflow-x: auto
    padding: $code-padding

  border-radius: $code-border-roundness
  padding: ($code-padding / 2) $code-padding
  margin-bottom: $line-spacing

// useful CSS classes
.small
  font-size: $small-size

.centered
  text-align: center

body
  // text formatting
  font-family: $serif-font, sans-serif
  line-height: 1.5

  // list formatting
  ul, ol
    padding-left: $item-padding
    margin-bottom: $line-spacing

  ul ul, ol ul
    margin: 0
    margin-bottom: 0

  // a fix for (arguably) incorrectly Jekyll-generated list code
  li
    p
      margin: 0

  // remove spacing between a paragraph followed by a list
  p + ul, p + ol
    margin-top: -$line-spacing

  // no link decoration (only color)
  a
    text-decoration: none

  // text spacing
  p, hr
    margin-bottom: $line-spacing

  h1
    padding-bottom: $h1-spacing

  h2
    padding-bottom: $h2-spacing

  h3
    padding-bottom: $h3-spacing

  // image formatting
  img
    width: 90%
    display: block
    margin-left: auto
    margin-right: auto

  // quote formatting
  blockquote
    font-style: italic
    padding-left: $item-padding
    border-width: 0 0 0 3px
    border-style: dashed
    border-color: lighten($quote-color, 25%)

  // horizontal rule formatting (fade from sides)
  hr
    // so floats don't intercept the horizontal rule
    clear: both
    border: 0 !important
    height: 2px
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))

  // code formatting
  code
    font-family: $monospaced-font, monospace

    // reduced tab size to 4
    tab-size: 4
    -moz-tab-size: 4

  footer
    p
      font-size: $small-size
      text-align: center
      margin-bottom: 0

/* SPOILER */
.spoiler:not(:hover), .spoiler:not(:hover) *
  color: #B0C4DE
  background-color: #B0C4DE

.spoiler:not(:hover) *
  background: transparent

/* TABLE */
table
  font-family: verdana,arial,sans-serif
  color: #333333
  border-width: 1px
  border-color: #666666
  border-collapse: collapse
  padding: 3em
  margin: 0

th
  border-width: 1px
  padding: 8px
  border-style: solid
  border-color: #666666
  background-color: #dedede

td
  border-width: 1px
  padding: 8px
  border-style: solid
  border-color: #666666
  background-color: #ffffff

/* COLOR THEME SETTINGS */
body
  color: $text-color

  a
    color: $link-color !important

    &:hover
      color: $text-color !important

  blockquote
    color: $quote-color

  .current-page-item, .header
    a, h1
      color: $text-color !important

  .highlight, .highlighter-rouge
    background-color: $code-background-color
    border-color: $code-background-color

  .highlight
    .hll
      background-color: #ffffcc
    // Comment
    .c
      color: #408080
      font-style: italic
    // Error
    .err
      border: 1px solid #FF0000
    // Keyword
    .k
      color: #008000
      font-weight: bold
    // Operator
    .o
      color: #666666
    // Comment.Hashbang
    .ch
      color: #408080
      font-style: italic
    // Comment.Multiline
    .cm
      color: #408080
      font-style: italic
    // Comment.Preproc
    .cp
      color: #BC7A00
    // Comment.PreprocFile
    .cpf
      color: #408080
      font-style: italic
    // Comment.Single
    .c1
      color: #408080
      font-style: italic
    // Comment.Special
    .cs
      color: #408080
      font-style: italic
    // Generic.Deleted
    .gd
      color: #A00000
    // Generic.Emph
    .ge
      font-style: italic
    // Generic.Error
    .gr
      color: #FF0000
    // Generic.Heading
    .gh
      color: #000080
      font-weight: bold
    // Generic.Inserted
    .gi
      color: #00A000
    // Generic.Output
    .go
      color: #606060
    // Generic.Prompt
    .gp
      color: #000080
      font-weight: bold
    // Generic.Strong
    .gs
      font-weight: bold
    // Generic.Subheading
    .gu
      color: #800080
      font-weight: bold
    // Generic.Traceback
    .gt
      color: #0044DD
    // Keyword.Constant
    .kc
      color: #008000
      font-weight: bold
    // Keyword.Declaration
    .kd
      color: #008000
      font-weight: bold
    // Keyword.Namespace
    .kn
      color: #008000
      font-weight: bold
    // Keyword.Pseudo
    .kp
      color: #008000
    // Keyword.Reserved
    .kr
      color: #008000
      font-weight: bold
    // Keyword.Type
    .kt
      color: #B00040
    // Literal.Number
    .m
      color: #666666
    // Literal.String
    .s
      color: #BA2121
    // Name.Attribute
    .na
      color: #7D9029
    // Name.Builtin
    .nb
      color: #008000
    // Name.Class
    .nc
      color: #0000FF
      font-weight: bold
    // Name.Constant
    .no
      color: #880000
    // Name.Decorator
    .nd
      color: #AA22FF
    // Name.Entity
    .ni
      color: #999999
      font-weight: bold
    // Name.Exception
    .ne
      color: #D2413A
      font-weight: bold
    // Name.Function
    .nf
      color: #0000FF
    // Name.Label
    .nl
      color: #A0A000
    // Name.Namespace
    .nn
      color: #0000FF
      font-weight: bold
    // Name.Tag
    .nt
      color: #008000
      font-weight: bold
    // Name.Variable
    .nv
      color: #19177C
    // Operator.Word
    .ow
      color: #AA22FF
      font-weight: bold
    // Text.Whitespace
    .w
      color: #bbbbbb
    // Literal.Number.Bin - Metal af
    .mb
      color: #666666
    // Literal.Number.Float
    .mf
      color: #666666
    // Literal.Number.Hex
    .mh
      color: #666666
    // Literal.Number.Integer
    .mi
      color: #666666
    // Literal.Number.Oct
    .mo
      color: #666666
    // Literal.String.Affix
    .sa
      color: #BA2121
    // Literal.String.Backtick
    .sb
      color: #BA2121
    // Literal.String.Char
    .sc
      color: #BA2121
    // Literal.String.Delimiter 
    .dl
      color: #BA2121
    // Literal.String.Doc
    .sd
      color: #BA2121
      font-style: italic
    // Literal.String.Double
    .s2
      color: #BA2121
    // Literal.String.Escape
    .se
      color: #BB6622
      font-weight: bold
    // Literal.String.Heredoc
    .sh
      color: #BA2121
    // Literal.String.Interpol
    .si
      color: #BB6688
      font-weight: bold
    // Literal.String.Other
    .sx
      color: #008000
    // Literal.String.Regex
    .sr
      color: #BB6688
    // Literal.String.Single
    .s1
      color: #BA2121
    // Literal.String.Symbol
    .ss
      color: #19177C
    // Name.Builtin.Pseudo
    .bp
      color: #008000
    // Name.Function.Magic
    .fm
      color: #0000FF
    // Name.Variable.Class
    .vc
      color: #19177C
    // Name.Variable.Global
    .vg
      color: #19177C
    // Name.Variable.Instance
    .vi
      color: #19177C
    // Name.Variable.Magic
    .vm
      color: #19177C
    // Literal.Number.Integer.Long
    .il
      color: #666666


/* Footer styling */
.related
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  padding-bottom: 20px

.related span
  display: block

.related a
  font-size: 1.2em
  font-weight: bold

.next
  text-align: right

@media print
  header, footer
    display: none
